{% extends "mrm-base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Managers</li>
{% endblock %}

{% block content %}
    <!-- Managers DataTables -->
    <div class="card mb-3">
        <div class="card-header">
            <span class="float-sm-left">
                <i class="fa fa-table"></i> MRM Managers
            </span>

            {% if auth.canDo('edit_manager') %}
                <a class="float-sm-right" href="{{ path('route_section_manager_new') }}" title="New manager">
                    <i class="fa fa-fw fa-user-plus"></i>
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for manager in managers %}
                        <tr>
                            <td><a href="{{ path('route_section_manager_edit', {id:  manager.getId()}) }}">{{ manager.getFullName() }}</a></td>
                            <td>{{ manager.getLogin() }}</td>
                            <td>{{ manager.getRole() }}</td>
                            <td>{{ manager.getStatus() == 1 ? 'active' : 'disabled' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}