{% extends "mrm-base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('route_section_product', {action: 'list'}) }}">Products</a>
    </li>
    <li class="breadcrumb-item active">{{ PAGE_NAME }}</li>
{% endblock %}

{% block content %}
    <!-- Managers DataTables -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> Product data
        </div>
        <div class="card-body">
            {{ form_start(form_product) }}
            {% if errors | length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ errors | raw }}
                </div>
            {% endif %}
            <table width="50%">
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            {{ form_label(form_product.code) }}
                            {{ form_widget(form_product.code) }}
                            {{ form_errors(form_product.code) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            {{ form_label(form_product.name) }}
                            {{ form_widget(form_product.name) }}
                            {{ form_errors(form_product.name) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            {{ form_label(form_product.cost) }}
                            {{ form_widget(form_product.cost) }}
                            {{ form_errors(form_product.cost) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form_product.currency) }}
                            {{ form_widget(form_product.currency) }}
                            {{ form_errors(form_product.currency) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4>Assets:</h4>
                        <table id="asset-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th width="50%">Value</th>
                                {% if auth.canDo('edit_configuration') %}
                                <th width="20"></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% if assets is defined %}
                                {% for id, asset in assets %}
                                    <tr>
                                        <td class="td-asset-name">{{ asset.name }}</td>
                                        <td class="td-asset-value">{{ asset.value }}</td>
                                        {% if auth.canDo('edit_configuration') %}
                                        <td>
                                            <a class="asset-button-remove" href="" title="Remove">
                                                <i class="fa fa-fw fa-minus-square" style="color: red;"></i>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr id="asset-inputs" hidden>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select id="asset_name" class="form-control">
                                        {% if crypto_codes is defined %}
                                            {% for code in crypto_codes %}
                                                <option value="{{ code }}">{{ code }}</option>
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input type="text" id="asset_value" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <a href="" id="asset-button-complete" title="Complete">
                                        <i class="fa fa-fw fa-check-square" style="color: green;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% if auth.canDo('edit_configuration') %}
                            <tr>
                                <td colspan="3">
                                    <a href="" id="asset-button-add" title="Add">
                                        <i class="fa fa-fw fa-plus-square"></i>
                                        Add New Asset
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            </tfoot>
                        </table>
                        <div class="form-group">
                            {{ form_widget(form_product.assets) }}
                            {{ form_errors(form_product.assets) }}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form_product.submit) }}
                </div>
            </div>
            {{ form_end(form_product) }}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}